---
import type { CollectionEntry } from 'astro:content';

import Breadcrumbs from '../components/Breadcrumbs.astro';
import FormattedDate from '../components/FormattedDate.astro';
import PageLayout from './PageLayout.astro';

import 'astro-breadcrumbs/breadcrumbs.css';

type Props = CollectionEntry<'blog'>['data'];

const { slug } = Astro.params;
const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<PageLayout title={title} description={description}>
  <Breadcrumbs />
  <article class="prose max-w-full">
    <h1 class="py-2 my-0" transition:name={`blog-title-${slug}`}>{title}</h1>
    <div class="not-prose text-gray-500 text-sm">
      <p>
        Posted on <FormattedDate date={pubDate} />
      </p>
      {
        updatedDate && (
          <p>
            Edited on <FormattedDate date={updatedDate} />
          </p>
        )
      }
    </div>
    {
      heroImage && (
        <img class="rounded-md" height={510} src={heroImage} alt="" />
      )
    }
    <slot />
  </article>
</PageLayout>

<!-- <style is:global> -->
<!--   h1 { -->
<!--     @apply text-6xl; -->
<!--   } -->
<!--   h2 { -->
<!--     @apply text-5xl; -->
<!--   } -->
<!--   h3 { -->
<!--     @apply text-4xl; -->
<!--   } -->
<!--   h4 { -->
<!--     @apply text-3xl; -->
<!--   } -->
<!--   h5 { -->
<!--     @apply text-2xl; -->
<!--   } -->
<!--   h6 { -->
<!--     @apply text-xl font-bold; -->
<!--   } -->
<!-- </style> -->
